.containerCustom {
  max-width: 1430px;
  margin: 0 auto;
}

nav {
  display: flex;
  text-align: center;
  padding: 20px;

  .wrapNav {
    width: 100%;
    background-color: #fff;
    .navLeft {
      display: flex;
      justify-content: left;
      align-items: center;

      &__list {
        font-size: 14px;
        color: #333;
        letter-spacing: 0.2em;
        text-transform: uppercase;

        &--icon {
          a {
            cursor: pointer;
            color: black;
            text-decoration: none;
            font-size: 20px;
          }
        }
      }
    }

    .navRight {
      padding: 0;

      ul {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0;

        .navRightLarge {
          list-style: none;
          margin-left: 10px;
          border: 1px solid black;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;

          a {
            color: black;
            &:hover {
              color: #ddac55;
            }
          }
        }
        .navRightSmall {
          display: none;
        }
      }
    }

    .navCenter {
      display: flex;
      justify-content: center;
      align-items: center;
      ul {
        display: flex;
        li {
          list-style: none;
          margin-left: 20px;
          a {
            text-decoration: none;
            color: #000000;
            font-size: 11px;
            font-weight: 700;
            letter-spacing: 2px;
          }
        }
      }
    }
  }
}

#content {
  .containerCustom {
    .wrap__breadCrumb--left {
      .breadCrumb {
        a {
          color: #000000;
          text-decoration: none;
          &:hover {
            color: #ddac55;
          }
        }
        .strong1 {
          color: #6c757d !important;
        }
      }
    }
    .wrap__breadCrumb--right {
      .arrows-product {
        display: flex;
        justify-content: end;
        font-size: 12px;
        .prev_prod {
          a {
            color: #000000;
            text-decoration: none;
            font-weight: 600;
            i {
              padding-right: 12px;
            }
            &:hover {
              color: #ddac55 !important;
            }
          }
        }

        .next_prod {
          a {
            color: #000000;
            text-decoration: none;
            font-weight: 600;
            i {
              padding-left: 12px;
            }
            &:hover {
              color: #ddac55 !important;
            }
          }
        }
      }
    }
  }
  .photoProductSmall {
    img {
      width: 100%;
      margin-bottom: 13px;
    }
  }
  .photoProductLarge {
    img {
      width: 100%;
    }
  }
  .productContent {
    position: relative;
    .productTitle {
      h2 {
        font-size: 24px;
        font-weight: 400;
        color: #000;
      }
    }
    .productPrice {
      del {
        font-size: 16px;
        font-weight: 400;
        color: #83868c;
        margin-right: 7px;
      }
      span {
        font-size: 20px;
        font-weight: 400;
        color: #ddac55;
      }
    }
    .iconStar {
      font-size: 12px;
      i {
        color: #ddac55;
      }
      span {
        color: #83868c;
      }
    }
    button {
      letter-spacing: 2.2px;
      font-weight: bold;
      color: #000;
      width: 200px;
      height: 55px;
      font-size: 12px;
      border: none;
      background-color: #bfbfbf;
    }
    .categories {
      a {
        font-weight: 400;
        color: #bfbfbf;
        text-decoration: none;
        &:hover {
          color: #ddac55;
        }
      }
    }
    .iconHeart {
      position: absolute;
      top: 0;
      right: 0;
      height: 40px;
      width: 40px;
      border: 1px solid #e9e9e9;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 6.3s;
      i {
        font-size: 14px;
        color: #000;
      }
      &:hover {
        border: 1px solid transparent;
        background-color: #ddac55;
        color: #fff;
      }
    }
  }
  .box {
    text-align: center;
    border: 1px solid #eaeaea;
    margin-bottom: 30px;
    padding: 25px 15px;
    h3 {
      font-size: 18px;
      position: relative;
      padding-bottom: 18px;
      margin-bottom: 18px;
      &::after {
        content: "";
        height: 1px;
        width: 42px;
        position: absolute;
        left: 50%;
        bottom: 0;
        border-bottom: 1px solid;
        transform: translate(-50%);
      }
    }
    .box__text {
      color: #979797;
      font-size: 14px;
    }
    &:hover {
      border: 1px solid #000;
      transition: border 0.25s linear 0.25s;
    }
  }
}

#tab__product {
  hr {
    color: #6c757d;
  }
  .tab__product--title {
    ul {
      display: flex;
      list-style: none;
      li {
        a {
          text-decoration: none;
          letter-spacing: 2px;
          margin-right: 35px;
          color: #000;
          font-weight: 600;
          position: relative;
          &::after {
            content: "";
            border-bottom: 4px solid #ff4949;
            position: absolute;
            left: 0;
            opacity: 0.7;
          }
        }
      }
    }
  }
  .tab__product--content {
    .wrap__content {
      margin: 0 260px;
    }
    .product__left {
      .product__left--top {
        color: #a8a8a8;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        padding-bottom: 40px;
      }
      .product__left--bottom {
        color: #a8a8a8;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
      }
    }
  }
}

#latest__product {
  .latest__product--title {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      height: 4px;
      background-color: #ff4949;
      left: 0;
      bottom: -5px;
    }
  }
}

footer {
  text-align: center;

  .row {
    align-items: center;
    height: 100%;

    .footer__left {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;

      .row {
        .hoverColor:hover {
          color: #ddac55;
        }
      }
    }
  }

  .footer__right {
    ul {
      display: flex;
      justify-content: flex-end;

      li {
        list-style: none;
        margin: 0 5px;
        padding: 15px;
        border: 1px solid black;
        border-radius: 50px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          inset: 0;
          border-radius: 50%;
          background-color: #ddac55;
          transform: scale(0);
          transition: transform 0.5s ease-in-out;
        }

        a {
          color: black;
          transition: transform 0.5s;
          z-index: 1;
        }

        &:hover {
          border: 1px solid #ddac55;

          &::after {
            transform: scale(1);
          }

          & a {
            color: white;
          }
        }
      }
    }
  }
}

.copyrights {
  text-align: center;
  font-size: 12px;
  color: #979797;
  font-weight: 400;
}
