.containerCustom {
  max-width: 1430px;
  margin: 0 auto;
}

nav {
  display: flex;
  text-align: center;
  padding: 20px;

  .wrapNav {
    width: 100%;

    .navLeft {
      display: flex;
      justify-content: left;
      align-items: center;

      &__list {
        font-size: 14px;
        color: #333;
        letter-spacing: 0.2em;
        text-transform: uppercase;

        &--icon {
          a {
            cursor: pointer;
            color: black;
            text-decoration: none;
            font-size: 20px;
          }
        }
      }
    }

    .navRight {
      padding: 0;

      ul {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 0;

        li {
          list-style: none;
          margin-left: 10px;
          border: 1px solid black;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;

          a {
            color: black;
          }
        }
      }
    }

    .navCenter {
      display: flex;
      justify-content: center;
      align-items: center;

      & a img {
        height: 20px;
      }
    }
  }
}

#navContent {
  position: fixed;
  inset: 0;
  background-color: #fff;
  z-index: 1;
  transform: translateY(-100%);
  transition: all 1s cubic-bezier(0.1, 1, 0.4, 1);
  overflow: hidden;
  background-image: url(./../img/bg-menu.jpg);
  background-size: cover;
  background-position: center;
  &.active {
    transform: translateY(0);
  }
  & .nav__list{
    padding:80px 50px 80px 120px;
    & .closeBtn{
      background-color: transparent;
      outline: none;
      border: none;
      margin-bottom:45px ;
    }
  &--content{
    width: 40%;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 200px)!important;
    & .accordion-item{
      border: none !important;
      outline: none !important;
      background-color: transparent;
      
      & .accordion-button{
        background-color: transparent;
        box-shadow: none;
        &:focus{
          box-shadow: none;
        }
      }
      & .accordion-body{
        ul{
          list-style: none;
          margin:0;
          padding:0;
        }
      }
    }
  }
  }
  // & img{
  //   display: block;
  //   // position: absolute;
  //   // inset:0;
  //   object-fit: cover;
  // }

  // .navContent__bg {
  //   padding: 0;
  //   position: relative;


    // .nav__list {
    //   position: absolute;
    //   top: 80px;
    //   left: 120px;

    //   &--home {
    //     .text {
    //       margin: 20px 0;
    //       font-size: 30px;
    //     }

    //     #btnHome {
    //       position: absolute;
    //       top: 30px;
    //       left: 650px;
    //     }

    //     #home {
    //       .card-body {
    //         ul {
    //           list-style: none;
    //           padding: 0;

    //           li {
    //             a {
    //               color: rgb(0, 0, 0);
    //               text-decoration: none;
    //             }
    //           }
    //         }
    //       }
    //     }
    //   }

    //   &--shop {
    //     .text {
    //       margin: 20px 0;
    //       font-size: 30px;
    //     }

    //     #btnShop {
    //       position: absolute;
    //       top: 100px;
    //       left: 650px;
    //     }
    //   }

    //   &--pages {
    //     .text {
    //       margin: 20px 0;
    //       font-size: 30px;
    //     }

    //     #btnPages {
    //       position: absolute;
    //       top: 170px;
    //       left: 650px;
    //     }
    //   }

    //   &--blog {
    //     .text {
    //       margin: 20px 0;
    //       font-size: 30px;
    //     }

    //     #btnBlog {
    //       position: absolute;
    //       top: 240px;
    //       left: 650px;
    //     }
    //   }
    // }
  // }
}

.carousel {
  position: relative;

  .detailPicture {
    position: absolute;
    right: 100px;
    bottom: 200px;
    text-align: center;

    .carouselPicture {
      border-radius: 50%;
      overflow: hidden;
    }

    p {
      font-size: 50px;
      color: rgb(85, 81, 81);
      z-index: 1;
    }

    .collection {
      font-size: 30px;
    }

    .shopNow {
      font-weight: bold;
      font-size: 15px;
    }
  }
}

.photoModal {
  margin-top: 20px;

  #photoSneaker {
    display: flex;
    gap: 30px;

    .photoSneaker {
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        transition: all 0.5s;

        &:hover {
          transform: scale(1.05);
        }
      }

      .contentDetail {
        position: absolute;
        top: 100px;
        right: 50px;
        z-index: 2;

        .sneaker {
          font-size: 30px;
        }

        .shopNow {
          font-size: 10px;
          font-weight: bold;
        }
      }
    }
  }
}

.sneaker {
  text-align: center;
  margin-top: 20px;

  &__title {
    display: flex;
    justify-content: center;
    font-weight: bold;

    &--men {
      margin-right: 20px;
    }

    &--women {
      margin-left: 20px;
    }
  }

  &__products {
    margin-top: 20px;

    #sneakerDetail {
      flex-wrap: wrap;
      display: flex;
      gap: 30px;

      &>div {
        width: calc((100% - 90px) / 4);
        aspect-ratio: 1 / 1;
        position: relative;

        &:hover {
          & .cardHoverIcon {
            & ul {
              li {
                transform: translateY(0);
                opacity: 1;

                &:nth-child(1) {
                  transition-delay: 0.1s;
                }

                &:nth-child(2) {
                  transition-delay: 0.2s;
                }

                &:nth-child(3) {
                  transition-delay: 0.3s;
                }
              }
            }
          }
        }

        p {
          &:hover {
            color: #ddac55;
            cursor: pointer;
          }
        }

        span {
          color: #ddac55;
        }

        .cardHoverIcon {
          position: absolute;
          bottom: 90px;
          transform: translateX(-50%);
          left: 50%;

          ul {
            display: flex;
            margin: 0;

            li {
              background-color: #fff;
              box-shadow: 0 3px 10px #00000014;
              list-style: none;
              border-radius: 50px;
              width: 40px;
              height: 40px;
              display: flex;
              z-index: 2;
              justify-content: center;
              align-items: center;
              margin: 0 10px;
              transition: all 0.5s;
              transform: translateY(30px);
              opacity: 0;

              &:hover {
                background-color: #ddac55;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}

.list_image {
  width: 100%;
}

.instagram {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 30px;

  &__title {
    margin-bottom: 10px;
  }

  #showInstagramTop {
    display: flex;
    flex-wrap: wrap;

    &>div {
      position: relative;
      overflow: hidden;
      width: calc(100% / 4);
      aspect-ratio: 1 / 1;

      &:hover {
        & .list_photos {
          transform: scale(1.1);
        }

        & .backdrop {
          opacity: 1;
        }
      }

      .backdrop {
        position: absolute;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.6);
        inset: 0;
        color: #fff;
        opacity: 0;
        transition: opacity 0.9s ease;
        font-size: 20px;

        .backdropWrap {
          transform: translateX(50%);
          transform: translateY(200%);
        }
      }

      .list_photos {
        display: block;
        width: 100%;
        height: 100%;
        transition: all 1s ease-in-out;
        object-fit: cover;
      }
    }
  }
}

.list_photos {
  width: 100%;
}

.information {
  margin: 50px 0;
  background-image: url(../img/information.jpg);
  padding: 90px 0;
  text-align: center;
  background-size: cover;

  p {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin: 20px;
    position: relative;

    &::after {
      content: "";
      width: 10px;
      height: 1px;
      position: absolute;
      bottom: 0;
      right: 0;
      color: white;
    }
  }

  span {
    color: white;
    text-transform: uppercase;
    font-size: 12px;
  }

  .inputEmail {
    margin-top: 20px;

    // position: relative;
    input {
      background-color: transparent;
      color: #fff;
      margin-right: 50px;
      border: none;
      outline: none;
    }

    button {
      // position: absolute;
      background-color: transparent;
      color: #fff;
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 3px;

      &:hover {
        color: #ddac55;
      }
    }
  }
}

footer {
  text-align: center;

  .row {
    align-items: center;
    height: 100%;

    .footer__left {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;

      .row {
        .hoverColor:hover {
          color: #ddac55;
        }
      }
    }
  }

  .footer__right {
    ul {
      display: flex;
      justify-content: flex-end;

      li {
        list-style: none;
        margin: 0 5px;
        padding: 15px;
        border: 1px solid black;
        border-radius: 50px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          inset: 0;
          border-radius: 50%;
          background-color: #ddac55;
          transform: scale(0);
          transition: transform 0.5s ease-in-out;
        }

        a {
          color: black;
          transition: transform 0.5s;
          z-index: 1;
        }

        &:hover {
          border: 1px solid #ddac55;

          &::after {
            transform: scale(1);
          }

          & a {
            color: white;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {}