.containerCustom {
  max-width: 1430px;
  margin: 0 auto;
}

nav {
  display: flex;
  text-align: center;
  padding: 20px;
}
nav .wrapNav {
  width: 100%;
}
nav .wrapNav .navLeft {
  display: flex;
  justify-content: left;
  align-items: center;
}
nav .wrapNav .navLeft__list {
  font-size: 14px;
  color: #333;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
nav .wrapNav .navLeft__list--icon a {
  cursor: pointer;
  color: black;
  text-decoration: none;
  font-size: 20px;
}
nav .wrapNav .navRight {
  padding: 0;
}
nav .wrapNav .navRight ul {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}
nav .wrapNav .navRight ul li {
  list-style: none;
  margin-left: 10px;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .wrapNav .navRight ul li a {
  color: black;
}
nav .wrapNav .navCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .wrapNav .navCenter a img {
  height: 20px;
}

#navContent {
  position: fixed;
  inset: 0;
  background-color: #fff;
  z-index: 1;
  transform: translateY(-100%);
  transition: all 1s cubic-bezier(0.1, 1, 0.4, 1);
  overflow: hidden;
  background-image: url(./../img/bg-menu.jpg);
  background-size: cover;
  background-position: center;
}
#navContent.active {
  transform: translateY(0);
}
#navContent .nav__list {
  padding: 80px 50px 80px 120px;
}
#navContent .nav__list .closeBtn {
  background-color: transparent;
  outline: none;
  border: none;
  margin-bottom: 45px;
}
#navContent .nav__list--content {
  width: 40%;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 200px) !important;
}
#navContent .nav__list--content .accordion-item {
  border: none !important;
  outline: none !important;
  background-color: transparent;
}
#navContent .nav__list--content .accordion-item .accordion-button {
  background-color: transparent;
  box-shadow: none;
}
#navContent .nav__list--content .accordion-item .accordion-button:focus {
  box-shadow: none;
}
#navContent .nav__list--content .accordion-item .accordion-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
}
.carousel .detailPicture {
  position: absolute;
  right: 100px;
  bottom: 200px;
  text-align: center;
}
.carousel .detailPicture .carouselPicture {
  border-radius: 50%;
  overflow: hidden;
}
.carousel .detailPicture p {
  font-size: 50px;
  color: rgb(85, 81, 81);
  z-index: 1;
}
.carousel .detailPicture .collection {
  font-size: 30px;
}
.carousel .detailPicture .shopNow {
  font-weight: bold;
  font-size: 15px;
}

.photoModal {
  margin-top: 20px;
}
.photoModal #photoSneaker {
  display: flex;
  gap: 30px;
}
.photoModal #photoSneaker .photoSneaker {
  overflow: hidden;
  position: relative;
}
.photoModal #photoSneaker .photoSneaker img {
  width: 100%;
  transition: all 0.5s;
}
.photoModal #photoSneaker .photoSneaker img:hover {
  transform: scale(1.05);
}
.photoModal #photoSneaker .photoSneaker .contentDetail {
  position: absolute;
  top: 100px;
  right: 50px;
  z-index: 2;
}
.photoModal #photoSneaker .photoSneaker .contentDetail .sneaker {
  font-size: 30px;
}
.photoModal #photoSneaker .photoSneaker .contentDetail .shopNow {
  font-size: 10px;
  font-weight: bold;
}

.sneaker {
  text-align: center;
  margin-top: 20px;
}
.sneaker__title {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.sneaker__title--men {
  margin-right: 20px;
}
.sneaker__title--women {
  margin-left: 20px;
}
.sneaker__products {
  margin-top: 20px;
}
.sneaker__products #sneakerDetail {
  flex-wrap: wrap;
  display: flex;
  gap: 30px;
}
.sneaker__products #sneakerDetail > div {
  width: calc((100% - 90px) / 4);
  aspect-ratio: 1/1;
  position: relative;
}
.sneaker__products #sneakerDetail > div:hover .cardHoverIcon ul li {
  transform: translateY(0);
  opacity: 1;
}
.sneaker__products #sneakerDetail > div:hover .cardHoverIcon ul li:nth-child(1) {
  transition-delay: 0.1s;
}
.sneaker__products #sneakerDetail > div:hover .cardHoverIcon ul li:nth-child(2) {
  transition-delay: 0.2s;
}
.sneaker__products #sneakerDetail > div:hover .cardHoverIcon ul li:nth-child(3) {
  transition-delay: 0.3s;
}
.sneaker__products #sneakerDetail > div p:hover {
  color: #ddac55;
  cursor: pointer;
}
.sneaker__products #sneakerDetail > div span {
  color: #ddac55;
}
.sneaker__products #sneakerDetail > div .cardHoverIcon {
  position: absolute;
  bottom: 90px;
  transform: translateX(-50%);
  left: 50%;
}
.sneaker__products #sneakerDetail > div .cardHoverIcon ul {
  display: flex;
  margin: 0;
}
.sneaker__products #sneakerDetail > div .cardHoverIcon ul li {
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.0784313725);
  list-style: none;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  z-index: 2;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  transition: all 0.5s;
  transform: translateY(30px);
  opacity: 0;
}
.sneaker__products #sneakerDetail > div .cardHoverIcon ul li:hover {
  background-color: #ddac55;
  color: #fff;
}

.list_image {
  width: 100%;
}

.instagram {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 30px;
}
.instagram__title {
  margin-bottom: 10px;
}
.instagram #showInstagramTop {
  display: flex;
  flex-wrap: wrap;
}
.instagram #showInstagramTop > div {
  position: relative;
  overflow: hidden;
  width: 25%;
  aspect-ratio: 1/1;
}
.instagram #showInstagramTop > div:hover .list_photos {
  transform: scale(1.1);
}
.instagram #showInstagramTop > div:hover .backdrop {
  opacity: 1;
}
.instagram #showInstagramTop > div .backdrop {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  inset: 0;
  color: #fff;
  opacity: 0;
  transition: opacity 0.9s ease;
  font-size: 20px;
}
.instagram #showInstagramTop > div .backdrop .backdropWrap {
  transform: translateX(50%);
  transform: translateY(200%);
}
.instagram #showInstagramTop > div .list_photos {
  display: block;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
}

.list_photos {
  width: 100%;
}

.information {
  margin: 50px 0;
  background-image: url(../img/information.jpg);
  padding: 90px 0;
  text-align: center;
  background-size: cover;
}
.information p {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  margin: 20px;
  position: relative;
}
.information p::after {
  content: "";
  width: 10px;
  height: 1px;
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
}
.information span {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}
.information .inputEmail {
  margin-top: 20px;
}
.information .inputEmail input {
  background-color: transparent;
  color: #fff;
  margin-right: 50px;
  border: none;
  outline: none;
}
.information .inputEmail button {
  background-color: transparent;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 3px;
}
.information .inputEmail button:hover {
  color: #ddac55;
}

footer {
  text-align: center;
}
footer .row {
  align-items: center;
  height: 100%;
}
footer .row .footer__left {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}
footer .row .footer__left .row .hoverColor:hover {
  color: #ddac55;
}
footer .footer__right ul {
  display: flex;
  justify-content: flex-end;
}
footer .footer__right ul li {
  list-style: none;
  margin: 0 5px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
footer .footer__right ul li::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background-color: #ddac55;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}
footer .footer__right ul li a {
  color: black;
  transition: transform 0.5s;
  z-index: 1;
}
footer .footer__right ul li:hover {
  border: 1px solid #ddac55;
}
footer .footer__right ul li:hover::after {
  transform: scale(1);
}
footer .footer__right ul li:hover a {
  color: white;
}/*# sourceMappingURL=style.css.map */